body{
  background-image: url(oo.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.calculator {
  background-color: #222; /* Dark background */
  width: 300px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  margin-left: -2%;
  margin-top: 4%;
  font-family: 'Georgia', serif;
  font-variant-numeric: oldstyle-nums;
}

#display {
  background-color: #000;
  color: #fff;
  font-size: 40px;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background-color: #333;
  border: none;
  color: white;
  font-size: 22px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  font-weight: bold;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 3px rgba(0, 0, 0, 0.5);
}


button:hover {
  background-color: #555;
}

#clear {
  background-color: hsl(0, 2%, 79%);
  color: #000;
}


#decimal {
  width: 100%;
  background-color: hsl(0, 2%, 79%);
  color: #000;
}

button:focus {
  outline: none;
}

#equals {
  width: 100%;
  color: #fff;
  background-color: hsl(0, 2%, 79%);
  color: #000;
}

#divide,
#add,
#subtract,
#multiply {
  color: #fff;
  background-color: #c01eb0;
}

.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.name {
  margin-top: 20px; /* Space between Calculator and h1 */
  font-size: 24px; /* Adjust font size as needed */
}
