body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 20px;
  border: 1px solid #666;
  background-color: #555;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #888;
}
